Safety code for the current software system is in
software/atrias_rt_ops/include/atrias_rt_ops/
Many useful defines are in robot_definition/robot_invariant_defs.h

Need to check for halt of motor and update acceptable velocity interval
Need acceleration per amp and available halt amps as part of check
ACCEL_PER_AMP defined as 1.7185879
AVAIL_HALTS_AMPS defined as 30.0

Predict stopping point based on position, velocity, and stopping
aceleration

Need to check to make sure no current values are NaN or Inf

MOTOR_VELG_MRGN is the margin for error (.1 rad/s)

shouldHalt gets the predicted stop locations for each motor based
on rotorVelocity and checks for a collision

LEG_A_MOTOR_MIN_LOC -0.305432619
LEG_A_MOTOR_MAX_LOC 2.35619449

LEG_B_MOTOR_MIN_LOC 0.785398163
LEG_B_MOTOR_MAX_LOC 3.44702527

LEG_LOC_SAFETY_DISTANCE 0.2

LEG_LOC_DIFF_MIN 0.45
LEG_LOC_DIFF_MAX 2.0

